<!doctype html>
<html ng-app="coderdecoder" >
  <head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="manifest.webmanifest">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>CoderDecoder by garethjscoleman</title>

    <meta name="viewport" content="width=device-width">
    <!-- Angular Material requires Angular.js Libraries -->
    <script defer>
  if (navigator.serviceWorker) {
    navigator.serviceWorker.register('sw.js').then(() => {
      console.log('Service worker installed')
    }, err => {
      console.error('Service worker error:', err);
    });
  }   
      </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>    
 

      <script src="coderdecoder.js"></script>
    
     <link href="stylesheets/mainstyle.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body  ng-controller="coderDecoderCtrl as thecoderdecoder">
    <md-toolbar >
    <div layout="row" layout-align="start center">
       <div show-gt-xs flex="25">
        <span >{{thecoderdecoder.title}}</span>
      </div>

      <!-- fill up the space between left and right area -->
      <span flex show-gt-xs></span>
        <md-input-container   md-no-float >
            <md-icon   class="material-icons">search</md-icon>
            <input  type='text' ng-model="thecoderdecoder.thefilter" placeholder="Search here" ng-style="{'background-color':'white', 'color':'black'}" aria-label="filter"/>
        </md-input-container>
           
     </div>
    </md-toolbar >
    <md-content >
      <div layout="row">
    
    <md-content  flex-gt-sm="33" >

            <md-content class="md-padding">
                <form ng-submit="$event.preventDefault()">
                 <div layout="column">
                  <div layout="row">
                  
                  
                  
                    <md-input-container  class="md-block" >
                         <md-icon class="md-default-theme material-icons">search</md-icon>
                         <input ng-model="thecoderdecoder.theMessage" type="text" placeholder="Your Secret Message">
                   
                      
                      
                      
                         
                      
                    </md-input-container>
                    </div>
                  <div layout="row">
                    <md-input-container  class="md-block" >
                  <md-radio-group ng-model="thecoderdecoder.cipherType">

                            <md-radio-button 
                  
                        
                         
   
                                 ng-repeat="d in thecoderdecoder.cipherOptions" 
                                 ng-value="d.value" 
                                 aria-label="{{ d.label }}"
              >
                           

                              {{ d.label }}

                            </md-radio-button>

                         </md-radio-group>
                      {{thecoderdecoder.cipherType}}
                      
                  </md-input-container>
                    
                  </div>
                   </div>
                </form>
                
               


               <md-list  class="md-default-theme" layout-fill role="list" ng-style="{'height':'288px'}">
                 <div md-virtual-repeat-container>
                   <md-list role="list"  >
                     <md-list-item   le="listitem" class="repeated-item" md-virtual-repeat="theMessage in thecoderdecoder.possibleMessages "  >
                          
                           <div class="md-list-item-text" layout="column">
                             <md-icon class="md-default-theme material-icons">lock_outline</md-icon>
                             <span>{{theMessage}}</span>
                           </div>
                     </md-list-item>
                   </md-list>
                 </div>
               </md-list>
            </md-content>

    </md-content>
    <!--ui-view="product detail" "-->

    <md-content  hide show-gt-sm flex="66">

      <md-card>
        <md-card-content>
           <h2>{{thecoderdecoder.theCipher}}</h2>
           <div layout="column">
            <div layout="row">
                <span flex="25">Message
              </span>
                <span flex="75">{{thecoderdecoder.theMessage }}</span>
             </div>
            <div layout="row">
                <span flex="25">Cipher   </span>
                <span flex="75">{{thecoderdecoder.theMessage}}</span>
             </div>
            
         </div>
         </md-card-content>
       </md-card>                  
    </md-content>
</div>
      
      </md-content>
  </body>
</html>
